body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ---- Single Notebook ---- */
.single-notebook-footer {
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  margin: 8px;
  padding: 10px 0px 10px 0px;
}

.footer-right {
  margin-right: 10px;
}

.footer-add-btn {
  margin-left: 10px;
}

.footer-play-btn, .footer-pause-btn, .footer-delete-btn {
  margin-right: 10px;
}
.output {
  width: 100% !important;
  margin: 0 auto !important;
  border: 2px solid rgb(0, 188, 212) !important;
  background-color: rgb(203, 239, 248) !important;
  font-family: courier, monospace !important;
  padding-left: 20px;
}
.single-notebook-code-container {
  padding-bottom: 20px;
  /* font-family: tahoma, arial, sans-serif; */

}

.footer-play-btn > button {
  width: 25px;
  height: 25px;
}

/* ---- play/pause/delete ---- */
.snippet-play-pause-delete-btns {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}


/* AUTH FORM */

.authPage {
  display: flex;
  flex-direction: row;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 15px;
  height: 400px;

}

/* .OAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 15px;
  height: 400px;
} */

#OAuth-button {
  margin: '30px';
  width: '200px';
}

#submitButton {
  width: 200px;
  margin-top: 16px;
  /* padding-bottom: 40px !important; */
  display: flex;
  align-content: center !important;
}

#submitButton div {
  margin: 0;
}



/* SINGLE GROUP FORM */

.singleGroupPage{
  display: flex;
  flex-direction: row;
}

.usersList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
}

.docsList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
}


/* USER FORM */
.userPage {
  display: flex;
  flex-direction: row;
}

.userPic {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
  width: 300px;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
  width: 500px;
}
/* END AUTH FORM */
