body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ---- Single Notebook ---- */

.single-notebook-snippets-container {
  display: flex;
  flex-direction: column;
  margin-top: '20px';
}

/* .snippet-header {
  border-bottom: 1px solid grey;
} */

.snippet-body {
  display: flex;
  justify-content: center;
}

.snippet-code-body {
  box-shadow: -1px 4px 6px -1px grey;
  width: 80%;
  margin-bottom: 10px;
}

.single-notebook-footer {
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  margin: 8px;
  padding: 10px 0px 10px 0px;
}

.footer-right {
  margin-right: 10px;
}

.footer-add-btn {
  margin-left: 10px;
}

.footer-play-btn, .footer-pause-btn, .footer-delete-btn {
  margin-right: 10px;
}
.output {
  width: 100% !important;
  margin: 0 auto !important;
  border: 2px solid rgb(0, 188, 212) !important;
  background-color: rgb(203, 239, 248) !important;
  font-family: courier, monospace !important;
  padding-left: 20px;
}
.single-notebook-code-container {
  padding-bottom: 20px;
  /* font-family: tahoma, arial, sans-serif; */

}

.footer-play-btn > button {
  width: 25px;
  height: 25px;
}

/* ---- play/pause/delete ---- */
.snippet-play-pause-delete-btns {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}


/* AUTH FORM */

.authPage {
  display: flex;
  flex-direction: row;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 15px;
  height: 400px;

}

/* .OAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 15px;
  height: 400px;
} */

#OAuth-button {
  margin: '30px';
  width: '200px';
}

#submitButton {
  width: 200px;
  margin-top: 16px;
  /* padding-bottom: 40px !important; */
  display: flex;
  align-content: center !important;
}

#submitButton div {
  margin: 0;
}



/* SINGLE GROUP FORM */

.singleGroupPage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.group-title {
  display: flex;
  justify-content: center;
  animation: fadeIn 1.5s 1;
}

.group-members, .group-notebooks {
  width: 38%;
  margin-top: 20px;
  padding: 15px;
  animation: xAxisAppear 1s 1 cubic-bezier(.32,.15,.51,1.21);
}

.usersList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
}

.docsList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
}


/* USER FORM */
.userPage {
  display: flex;
  flex-direction: row;
}

.userPic {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
  width: 300px;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 15px;
  width: 500px;
}
/* END AUTH FORM */


/* ALL ENTITIES VIEWS */
.all-entity-list-header {
  animation: fadeIn 1.5s 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.entity-cards-container {
  animation: xAxisAppear 1.2s 1 cubic-bezier(.32,.15,.51,1.21);
}
@keyframes xAxisAppear {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* END ALL ENTITIES VIEWS */


/* SINGLE ENTITY CARD */
.entity-card-profile-link,
.entity-card-profile-link:visited {
  color: rgba(238, 236, 236, 0.87);
}
/* END SINGLE ENTITY CARD */


/* PROFILE PAGES */
.userPage {
  animation: fadeIn 1.5s 1;
}

.groupPage {
  animation: fadeIn 2.5s 1;
}

.profile-content-add {
  margin: 10px;
}
